* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
--White: hsl(0, 0%, 100%);
--Slate-300: hsl(212, 45%, 89%);
--Slate-500: hsl(216, 15%, 48%);
--Slate-900: hsl(218, 44%, 22%);
--main-border-radius: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Slate-500,hsl(216, 15%, 48%));
}

.the-container {
  width: 80%;
  max-width: 300px;
  display: grid;
  grid-template-rows: 1fr auto auto;
  gap: 10px;
  padding: 10px;
  border-radius: var(--main-border-radius, 10px);
  box-shadow: -1px 7px 6px 4px #0000002e;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: 160%;
  background-color: var(--White, hsl(0, 0%, 100%));
}


header img {
  width: 100%;
  max-width: 300px;
  display: block;
  border-radius: var(--main-border-radius,10px);
  grid-row: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-row: 2;

}

h2 {
  margin-bottom: 10px;
  color: var(--Slate-900,hsl(218, 44%, 22%));
  font-weight: 700;
}

p {
  color: var(--Slate-500,hsl(216, 15%, 48%));
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  grid-row: 3;
}

footer span {
  color: #00bbff;
}

footer p {
  font-size: 10px;
}

footer a {
  text-decoration: none;
  color: hsl(221 50% 30% / 1);
}

footer a:hover {
  color: hsl(220.65deg 79.49% 7.65%);
  font-weight: bold;
}

footer img {
  width: 30px;
  border-radius: 50%;
}

@media (min-width: 760px){
  .the-container
  {
    width: 70%;
  }}
